/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.label{
	-fx-font-family:"Microsoft YaHei";
	-fx-font-size:15px;
}

.text-field{
	-fx-font-family: Consolas;
	-fx-font-size: 14px;
	-fx-pref-width: 265px;
}

#label{
	-fx-font-family: Consalas;
	-fx-font-size: 12px;
}